.card-container {
    display: inline-block;
    width: 120px;
    height: 168px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.card {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.front {
    background-color: gray;
    display: flex;
    transform: rotateY(180deg);
}

.front img, .back img {
    width: 100%;
    margin: auto;
}

.flipped {
    transform: rotateY(180deg);
}